@import '~typeface-roboto';

.admin-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    min-height: 95vh;
    font-family: 'Roboto', sans-serif;
}

.dashboard-table-container {
    position: relative;
    width: 964px;
    margin: 0 auto;
    overflow-y: auto;
}

.dashboard-title {
    text-align: left;
    width: 100%;
    font-size: 24px;
    color: #333;
    text-decoration: underline;
}

.new-product-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.new-product-btn:hover {
    background-color: #555;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.dashboard-table th,
.dashboard-table td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.dashboard-table th:last-child,
.dashboard-table td:last-child {
    border-right: none;
}

.dashboard-table thead th {
    background-color: #f7f7f7;
    position: sticky;
    top: 0;
    z-index: 10;
}

.dashboard-table tr:hover {
    background-color: #f7f7f7;
}

.dashboard-table {
    border: 1px solid #e0e0e0;
}

.dashboard-table thead tr {
    border-bottom: 2px solid #e0e0e0;
}

.custom-checkbox {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.custom-checkbox:hover input~.checkmark {
    background-color: #f7f7f7;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.open-product-btn {
    padding: auto;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.open-product-btn:hover {
    background-color: #f0f0f0;
}
