.about-page-full {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 25px;
}

.container-1-left-about {
  flex: 0.5;
  max-width: 50%;
  margin-left: 50px;
  padding: 20px;
  margin-top: 40px;
}

.about-page h1 {
  font-size: 48px;
}

.about-page p {
  font-size: 18px;
}

.container-2-right-about-collapsible {
  flex: 1;
  background-color: white;
  padding: 20px;
}

.Collapsible {
  border-bottom: 1px solid #000;
}
