.about-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 48px;
  margin-left: 50px;
}

p {
  font-size: 18px;
  margin-left: 50px;
}

.collapsible-sections {
  background-color: white;
  width: 75%;
}

.Collapsible {
  border-bottom: 1px solid #000;
}
